body {
  color: rgb(241, 236, 227);
  background: #343131;
  padding: 1rem;
}

.inline {
  display: inline;
}

.delete-btn {
  margin: 0 1rem;
  padding: 0.3rem;
  border: solid 0.1rem #f4bdbd;
  border-radius: 0.2rem;
}

.icon-tabler-pencil {
  margin: 0 0.1rem;
  padding: 0.01rem;
}

.hide-btn {
  margin: 0 5px;
  padding: 0;
  border: solid 0.2rem #e8f4bd;
  border-radius: 0.2rem;
}

.flat-form {
  display: inline;
}

.strike-true {
  color: red;
  text-decoration: line-through;
}
